# Local mock mode
SITECORE_MOCK_LAYOUT=true

# Real Sitecore/XM Cloud connection
SITECORE_SITE_NAME=family-tree-archive
SITECORE_LAYOUT_SERVICE_URL=https://your-instance.sitecorecloud.io/api/layout/render/jss
SITECORE_API_KEY=
SITECORE_DEFAULT_LANGUAGE=en
SITECORE_DEFAULT_ROUTE=/
SITECORE_GRAPHQL_ENDPOINT=
SITECORE_EDGE_CONTEXT_ID=
SITECORE_ENABLE_EDITING=false

# External datasource
WIKIDATA_ACTION_API_URL=https://www.wikidata.org/w/api.php
WIKIDATA_SPARQL_URL=https://query.wikidata.org/sparql
